<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">

<%- contentFor('body') %>
        <%- include('../includes/validation-msgs.ejs') %>
        <form class="login-form" action="/new-password" method="POST">
            <%- include('../includes/csrf-input.ejs') %>
            <input type="hidden" name="user_id" value="<%= user_id %>">
            <input type="hidden" name="token" value="<%= token %>">

            <div class="form-control">
                <label for="password">New Password</label>
                <input type="password" name="password" id="password" autofocus>
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword">
            </div>

            <div class="login-buttons">
                <button class="btn" type="submit">Update Password</button>
            </div>
        </form>