<link rel="stylesheet" href="/css/story.css">

<%- contentFor('body') %>
<div class="story_content">
    <h2>Available <%= name %></h2>

    <div class="grid story_select">
        <% for (item of items) { %>
            <div class="card card-linked">
                <header class="card__header">
                    <h2 class="story_type_name"><a href="/admin/<%= item_type %>/<%= item._id %>" class="main-link clickable"><%= item.name %></a></h2>
                </header>
                <div class="card__image story_select_img">
                    <img src="<%= item.imageURL %>" alt="<%= item.caption %>">
                </div>
                <div class="card__content">
                    <p class="story_description"><%= item.description %></p>
                </div>
            </div>
        <% } %>
    </div>
</div>

<script src="/js/main.js"></script>
