<link rel="stylesheet" href="/css/story.css">

<%- contentFor('body') %>
    <form class="story_form" action="/story/<%= story._id %>/features" method="POST">
        <%- include('../includes/csrf-input.ejs') %>

        <h2>Select any special features of your story's world</h2>

        <div class="grid story_select">
            <% for (feature of features) { %>
                <div class="card">
                    <input id="<%= feature._id %>" name="<%= feature._id %>" type="checkbox">
                    <label for="<%= feature._id %>">
                        <header class="card__header">
                            <h1 class="story_type_name"><%= feature.name %></h1>
                        </header>
                        <div class="card__image story_select_img">
                            <img src="<%= feature.imageURL %>" alt="<%= feature.caption %>">
                        </div>
                        <div class="card__content">
                            <p class="story_description"><%= feature.description %></p>
                        </div>
                    </label>
                </div>
            <% } %>
        </div>

        <button type="submit">Continue to Events</button>
    </form>
