<link rel="stylesheet" href="/css/story.css">

<%- contentFor('body') %>
    <form class="story_form" action="/story/<%= story._id %>/geos" method="POST">
        <%- include('../includes/csrf-input.ejs') %>

        <h2>Select the geographies to include in your story</h2>

        <div class="grid story_select">
            <% for (geo of geos) { %>
                <div class="card">
                    <input id="<%= geo._id %>" name="<%= geo._id %>" type="checkbox">
                    <label for="<%= geo._id %>">
                        <header class="card__header">
                            <h1 class="story_type_name"><%= geo.name %></h1>
                        </header>
                        <div class="card__image story_select_img">
                            <img src="<%= geo.imageURL %>" alt="<%= geo.caption %>">
                        </div>
                        <div class="card__content">
                            <p class="story_description"><%= geo.description %></p>
                        </div>
                    </label>
                </div>
            <% } %>

            <div class="story_select_button">
                <button type="submit">Continue to World Features</button>
            </div>
        </div>
    </form>
