<link rel="stylesheet" href="/css/cart.css">

<%- contentFor('body') %>
  <main class="cart">
    <% if (stories.length == 0) { %>

    <h1>No stories in this order!</h1>

    <% } else { %>

    <ul>
    <% for (story of stories) { %>
      <li>
        <div class="cart_image">
          <a href="/story/<%= story._id %>">
            <img src="/images/story-default.jpg">
          </a>
        </div>

        <div class="cart_item_detail">
          <h3>"<%= story.name %>"</h3>
          <div class="cart_item_breakdown">
            <p><%= story_characters[story._id] %> characters, <%= story_events[story._id] %> events</p>
          </div>
          <div class="cart_item_amount">
            <div class="cart_item_qty">
              <div class="cart_item_qty_minus">
                <a href="/story/cart/modify?remove=1&story_id=<%= story._id %>">-</a>
              </div>
              <div class="cart_item_qty_value"><span><%= cart.stories.get(story._id) %></span></div>
              <div class="cart_item_qty_plus">
                <a href="/story/cart/modify?add=1&story_id=<%= story._id %>">+</a>
              </div>
            </div>
            <div class="cart_item_price">
              <span>$<%= (story_prices[story._id] * cart.stories.get(story._id)).toFixed(2) %></span>
            </div>
          </div>
        </div>
      </li>
    <% } %>
    </ul>

    <div class="checkout">
      <form action="/story/checkout" method="POST">
        <%- include('../includes/csrf-input.ejs') %>
        <button class="btn" type="submit">Submit Order</button>
        <div class="cart_total">
          <h2>$<%= price.toFixed(2) %></h2>
        </div>
      </form>
    </div>

    <% } %>
  </main>