<% function navLink(currentPath, destPath, title) {
    var navClass = currentPath === destPath ? 'active' : '';
    return '<a class="' + navClass + '" href="' + destPath + '">' + title + '</a>';
} %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.css">

<header class="main-header">
    <nav class="main-header__nav navbar">
        <div class="navbar-home">
            <a href="/">CYOA</a>
        </div>

        <div class="navbar-links">
            <% if (isLoggedIn) { %>
                <%- navLink(path, '/story/add', 'New Story') %>
                <%- navLink(path, '/story/list', 'My Stories') %>
                <%- navLink(path, '/story/orders', 'Orders') %>
            <% } else { %>
                <%- navLink(path, '/login', 'New Story') %>
            <% } %>
        </div>

        <div class="navbar-right">
            <% if (isLoggedIn && user.role.name == "Admin") { %>
            <div class="dropdown">
                <button class="dropbtn">Admin
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/admin/type">Types</a>
                    <a href="/admin/genre">Genres</a>
                    <a href="/admin/period">Periods</a>
                    <a href="/admin/geo">Geographies</a>
                    <a href="/admin/feature">Features</a>
                    <a href="/admin/event">Events</a>
                </div>
            </div>
            <% } %>

            <div class="navbar-account">
                <% if (isLoggedIn) { %>
                <%- navLink(path, '/story/checkout', '<i class="fa fa-shopping-cart" style="font-size:1.4rem;color:white"></i> Cart') %>
                <%- navLink(path, '/logout', 'Logout') %>
                <%- navLink(path, '/admin/adminify', '<i class="fa fa-user-shield" style="font-size:1.4rem;color:white"></i> ') %>
                <% } else { %>
                <%- navLink(path, '/login', 'Login') %>
                <% } %>
            </div>
        </div>
    </nav>
</header>