<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="https://use.typekit.net/bdz4tpr.css">
    <link rel="stylesheet" href="/css/main.css">
    <%- style %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <%- include('../includes/flash.ejs') %>

    <main>
        <hr>
        <h1 class="main-title"><%= pageTitle %></h1>
        <hr>

        <div class="main-content-wrapper">
            <div class="main-content">
                <%- body %>
            </div>
        </div>

        <%- include('../includes/footer.ejs') %>
    </main>

</body>
</html>