<link rel="stylesheet" href="/css/cart.css">

<%- contentFor('body') %>
  <main class="cart">
    <% if (products.length == 0) { %>

    <h1>No products in this order!</h1>

    <% } else { %>

    <ul>
    <% for (product of products) { %>
      <li>
        <div class="cart_image">
          <a href="/products/<%= product.product._id %>">
            <img src="<%= product.product.imageURL %>">
          </a>
        </div>

        <div class="cart_item_detail">
          <h3><%= product.product.title %></h3>
          <div class="cart_item_amount">
            <div class="cart_item_qty">
              <div class="cart_item_qty_value"><span><%= product.qty %></span></div>
            </div>
            <div class="cart_item_price">
              <span>$<%= (product.product.price * product.qty).toFixed(2) %></span>
            </div>
          </div>
        </div>
      </li>
    <% } %>
    </ul>

    <div class="checkout">
      <div class="cart_total">
        <h2>$<%= products.totalPrice.toFixed(2) %></h2>
      </div>
    </div>

    <% } %>
  </main>